section article{background-color:#c7c4bb;padding:20px 0;}
article h2{text-align:center;color:#ee9f16;font-size:20px;}
article form li{width:40%;margin:30px auto;overflow:hidden;}
article form li:nth-child(1) input,article form li:nth-child(2) input,article form li:nth-child(3) input{text-indent:40px;}
article form li:nth-child(1) input{background:url(../images/user.png) left center no-repeat;background-color:#fff;}
article form li:nth-child(2) input,article form li:nth-child(3) input{background:url(../images/lock.png) left center no-repeat;background-color:#fff;}
article form li:nth-child(4) input{background:#ee9f16;border:0;cursor:pointer;}
article form li a{text-decoration:underline;}
article form li a:hover{color:#f00;text-decoration:none;}
article form li:nth-child(5) a:nth-child(1){float:left;}
article form li:nth-child(5) a:nth-child(2){float:right;}
article form input{width:100%;height:30px;}
